@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    background-color: #FAFAFC;
    color: #424245ee;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-align-last-right {
    text-align-last: right;
}